<style>
  .btn-search {
    font-size: 14px;
    background-color: #fe424d;
    color: whitesmoke;
    border-radius: 25px;
    padding: 0rem 1rem 0rem 1rem;
  }
  .btn-search:hover {
    color: whitesmoke;
  }

  .btn-search i {
    display: inline;
  }

  .search-input {
    font-size: 14px;
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
</style>

<nav
  id="navbar"
  class="navbar navbar-expand-md navbar-dark bg-dark border-bottom sticky-top"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <img src="/logo.png" alt="Icon" class="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/search" method="GET">
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search destination"
            aria-label="Search"
            name="searchquery"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <ul class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">HouseAway your place</a>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <% if(!currentUser){ %>
            <a class="dropdown-item" href="/signup">Sign Up</a>
            <a class="dropdown-item" href="/login">Log In</a>
            <% } %>
            <!-- comment -->
            <% if(currentUser){ %>

            <a class="dropdown-item" href="/logout"><b>Log Out</b></a>
            <% } %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
