<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a new Listing</h3>
    <form action="/listings" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="listing[title]"
          placeholder="Enter title"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          class="form-control"
          id="description"
          name="listing[description]"
          placeholder="Enter description"
          required
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL:</label>
        <input
          class="form-control"
          type="url"
          id="image"
          name="listing[image]"
          placeholder="Enter image URL"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            class="form-control"
            type="number"
            id="price"
            name="listing[price]"
            placeholder="Enter price"
            required
          />
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            class="form-control"
            type="text"
            id="country"
            name="listing[country]"
            placeholder="Enter country"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="listing[location]"
          placeholder="Enter location"
        />
      </div>
      <button type="submit" class="btn add-btn mt-3">Add</button>
    </form>
  </div>
</div>
