body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400; /* Example weight value */
  font-style: normal;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.logo {
  width: 150px;
  height: 15px;
  margin-bottom: 5px;
  margin-top: 1px;
}

.navbar {
  height: 4rem;
}

.nav-link {
  color: #222222 !important;
}
#navbar {
  background-color: #212121 !important;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #212121;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #ffffff;
}
.f-info-links a:hover {
  text-decoration: underline;
}

/* Cards*/

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  color: #000000; /* Set your desired text color here */
}
.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page Btn */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: white !important;
}

/* Edit Page Btn */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: white !important;
}

/* show page */
.show-img {
  height: 30vh;
  width: 100%;
  object-fit: cover; /* or contain, etc. */
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}
.btns {
  display: flex;
}

.fas,
.fa-regular,
.fa-solid {
  margin-right: 5px; /* Adjust the margin as needed */
}

.nav-link {
  color: white !important;
}
